@font-face {
  font-family: "iconfont"; /* Project id 3521045 */
  src: url('iconfont.woff2?t=1658284149060') format('woff2'),
       url('iconfont.woff?t=1658284149060') format('woff'),
       url('iconfont.ttf?t=1658284149060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingxiang:before {
  content: "\e625";
}

.icon-wifi:before {
  content: "\e783";
}

.icon-xiyiji:before {
  content: "\e67d";
}

.icon-kongdiao:before {
  content: "\e65b";
}

.icon-shuinuanqigongcheng:before {
  content: "\e636";
}

.icon-haofangtuo400iconfont2reshuiqi:before {
  content: "\e6fc";
}

.icon-haofangtuo400iconfont2shafa:before {
  content: "\e6fd";
}

.icon-meiqitianranqi:before {
  content: "\e60e";
}

.icon-yigui-hui:before {
  content: "\e60c";
}

.icon-dianshi:before {
  content: "\e67e";
}

.icon-ditu:before {
  content: "\e884";
}

.icon-fangzi-copy:before {
  content: "\e75b";
}

.icon-yinhangqia-copy:before {
  content: "\e75a";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-31wode:before {
  content: "\e601";
}

.icon-fangzi:before {
  content: "\e663";
}

.icon-zixun:before {
  content: "\e62d";
}

.icon-wode:before {
  content: "\e634";
}

.icon-lishijilu:before {
  content: "\e638";
}

.icon-sousuodefuben:before {
  content: "\e759";
}

.icon-kefu:before {
  content: "\e60f";
}

