@font-face {
  font-family: "iconfont"; /* Project id 3521045 */
  src: url('iconfont.woff2?t=1657769371838') format('woff2'),
       url('iconfont.woff?t=1657769371838') format('woff'),
       url('iconfont.ttf?t=1657769371838') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangzi-copy:before {
  content: "\e75b";
}

.icon-yinhangqia-copy:before {
  content: "\e75a";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-31wode:before {
  content: "\e601";
}

.icon-fangzi:before {
  content: "\e663";
}

.icon-zixun:before {
  content: "\e62d";
}

.icon-wode:before {
  content: "\e634";
}

.icon-lishijilu:before {
  content: "\e638";
}

.icon-sousuodefuben:before {
  content: "\e759";
}

.icon-kefu:before {
  content: "\e60f";
}

